@import url("https://fonts.googleapis.com/css2?family=Glacial+Indifference&display=swap");

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: "Glacial Indifference", sans-serif;
}
.App-content {
  flex: 1;
  padding: 20px;
  text-align: center;
}
.App-header {
  background-color: transparent;
  padding: 0;
  text-align: center;
  height: 300px; /* Adjust this to control header height */
}

.App-header-image {
  width: 100%; /* Make the image full width */
  height: auto; /* Adjust to fit width proportionally */
  max-height: 300px; /* Control max height if needed */
}

.App-logo {
  width: 100%; /* Make image span full width of header */
  height: auto; /* Maintain aspect ratio */
}

.login-container .App-logo {
  width: 200px; /* Smaller size for logo on login page */
  margin-bottom: 10px;
}
.App-footer {
  background-color: #800000;
  color: white;
  padding: 10px;
  text-align: center;
}

/* Input styling */
.login-container input[type="text"],
.login-container input[type="password"] {
  width: 30%;
  padding: 12px;
  margin: 10px 0;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 16px;
  font-family: "Glacial Indifference", sans-serif;
  outline: none;
  box-sizing: border-box;
  transition: border-color 0.3s ease;
}

.login-container input[type="text"]:focus,
.login-container input[type="password"]:focus {
  border-color: #800000; /* Adds a subtle highlight effect */
}

/* Button styling */
.login-container button {
  width: 45%;
  padding: 12px;
  background-color: #102c57;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login-container button:hover {
  background-color: #800000;
}
