/* Chat.js Specific Styles */
.chat-assistance {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  font-family: "Arial", sans-serif;
  max-width: 100%;
  margin: 20px 50px;
  color: #333;
}

.chat-header h1 {
  text-align: center;
  font-family: "Righteous", sans-serif;
  font-weight: 100;
  margin-top: 10px;
  font-size: 1.5rem;
  color: #800000;
}

h2 {
  font-family: "Righteous", sans-serif;
  font-weight: 100;
  text-align: center;
  margin-top: 0;
}

.chat-description p {
  margin-bottom: 20px;
  font-size: 1.5rem;
  color: #333;
  font-family: "Overpass", sans-serif;
  margin-top: 10px;
}

.chat-window {
  border: 1px solid #ccc;
  padding: 10px;
  height: 300px;
  overflow-y: scroll;
  margin-top: 10px;
}

.chat-input-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  gap: 10px;

}

.chat-input {
  width: 80%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 15px;
}

.chat-send-button {
  padding: 10px 20px;
  border: none;
  background-color: #007BFF;
  color: white;
  border-radius: 15px;
  cursor: pointer;
}

.chat-bubble {
  margin: 5px 0;
  padding: 10px;
  border-radius: 10px;
  max-width: 80%;
}

.user {
  background-color: #dcf8c6;
  align-self: flex-end;
  margin-left: auto;
}

.bot {
  background-color: #f1f1f1;
  align-self: flex-start;
}
