/* General Styling for Calendar & Events List */
.react-calendar,
.events-list {
  width: 700px; /* Set a fixed width */
  height: 550px; /* Ensure same height */
  background: white;
  border: none;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  line-height: 1.6em;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  padding: 50px;
  font-size: 22px;
  overflow: hidden; /* Prevents unwanted scroll */
}

/* Calendar Navigation */
.react-calendar__navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  font-size: 18px;
  font-weight: 600;
  color: #333;
}

.react-calendar__navigation button {
  background: none;
  border: none;
  font-size: 24px;
  color: #666;
  cursor: pointer;
  font-weight: 600;
}

.react-calendar__navigation button:hover {
  color: #000;
}

.react-calendar__navigation button:disabled {
  color: #ccc;
}

/* Days Grid */
.react-calendar__tile {
  max-width: 100%;
  padding: 15px;
  background: none;
  text-align: center;
  font-size: 1em;
  font-weight: 600;
  position: relative;
  transition: 0.2s ease-in-out;
  border-radius: 4px;
  font-family: "Roboto", "sans-serif";
}

.react-calendar__tile:enabled:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

/* Selected Date */
.react-calendar__tile--active {
  background: #006edc;
  color: #ffc700;
  font-weight: 600;
  border-radius: 20%;
}

.react-calendar__tile--active:hover {
  background: #1087ff;
}

/* Events Header */
.Events-Header {
  font-family: "Roboto", sans-serif;
}

.Events-Subheader {
  color: #fcfcfc;
  background-color: #201885;
  font-family: "Roboto", sans-serif;
  border-radius: 25px;
  font-size: 2rem;
  font-weight: 700;
  margin-left: 14%;
  padding: 8px;
  text-align: center;
  width: 75%;
}

.Events-Title {
  font-family: "Roboto", sans-serif;
  font-size: 3rem;
  font-weight: 600;
  margin-top: 50px;
}

/* Events Container */
.events-container {
  display: flex;
  gap: 50px;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: nowrap;
  margin-top: 3%;
  width: 100%;
  margin-bottom: 3%;
}

.events-list h3 {
  color: #1e1e1e;
  font-size: 2rem;
  font-family: "Roboto", "sans-serif";
  font-weight: 600;
}

.events-list ul {
  padding: 0;
  list-style: none;
}

.events-list li {
  margin-bottom: 10px;
  font-size: 16px;
  word-wrap: break-word;
  color: #1e1e1e;
}

.events-list li strong {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  color: #1e1e1e;
}
.events-list p {
  color: #1e1e1e;
  font-size: 1.8rem;
  font-weight: 400;
  padding: 30px 50px;
  list-style-type: disc;
}

.events-list li span {
  display: block;
  font-style: italic;
  margin-top: 5px;
  line-height: 1.5;
  max-height: 50px;
  overflow-y: auto;
}
