/* Navbar.css */

.Navbar {
  display: flex;
  font-size: 1.2em;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  padding: 10px 20px;
}

.Navbar-logo {
  font-size: 1.2em;
  font-weight: bold;
  color: #d60000;
  position: absolute;
  left: 20px;
}

.Navbar-links {
  list-style: none;
  display: flex;
  gap: 15px;
}

.Navbar-links li {
  display: inline;
}

.Navbar-links a {
  color: #666666;
  text-decoration: none;
  font-weight: bold;
  padding: 8px;
  transition: background-color 0.3s;
}

.Navbar-links a:hover {
  background-color: #555;
  border-radius: 4px;
}

.Navbar-links-a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  padding: 8px;
  transition: background-color 0.3s;
}

.Navbar-links-a:hover {
  background-color: #800000;
  border-radius: 4px;
}

/* Sidebar Styling */
.Sidebar {
  position: fixed;
  right: -250px;
  top: 0;
  height: 100%;
  width: 250px;
  background-color: #ecf7fb;
  padding-top: 60px;
  transition: right 0.3s ease-in-out;
  z-index: 1000;
}

.Sidebar.open {
  right: 0;
}

.Sidebar-links {
  list-style: none;
  padding: 0;
}

.Sidebar-links li {
  padding: 10px;
  text-align: center;
}

.Sidebar-links a {
  color: #444343;
  text-decoration: none;
  font-weight: bold;
  padding: 8px;
  transition: background-color 0.3s;
}

.Sidebar-links a:hover {
  background-color: #555;
  border-radius: 4px;
}

/* Hamburger Menu */
.Navbar-hamburger {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 20px;
  cursor: pointer;
  position: absolute; /* Position it on the right side */
  right: 20px; /* Adjust the distance from the right edge */
}

.Navbar-hamburger-icon {
  background-color: #800000;
  height: 3px;
  width: 100%;
}

@media (max-width: 768px) {
  .Navbar-links {
    display: none;
  }

  .Navbar-hamburger {
    display: flex;
    z-index: 2000;
  }

  .Navbar {
    padding: 40px 40px;
  }

  .Sidebar-links a {
    width: 100%;
    text-align: left;
  }

  .Sidebar {
    right: -250px;
  }

  .Sidebar.open {
    right: 0;
  }
}
