.services-tab {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  font-family: "Roboto", sans-serif;
  max-width: 100%;
  margin: 20px auto;
  color: #333;
}

h4,
h5 {
  text-align: center;
  margin-bottom: 20px;
}

.service-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.service-form label {
  display: flex;
  flex-direction: column;
  font-size: 14px;
}

.service-form select,
.service-form input {
  padding: 8px;
  font-size: 14px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.service-form select:disabled {
  background-color: #f9f9f9;
  color: #aaa;
}

.buttons {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.add-btn,
.remove-btn {
  padding: 10px 20px;
  font-size: 14px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}

.add-btn {
  background-color: #C31C1C;
  color: white;
}

.remove-btn {
  background-color: #f44336;
  color: white;
}

.services-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.services-table th,
.services-table td {
  border: 1px solid #ddd;
  text-align: left;
  padding: 8px;
}

.services-table th {
  background-color: #f2f2f2;
  font-weight: bold;
}
