.admin-layout {
  display: flex;
  background-color: #fbfbfb;
}

/* Sidebar styles */
.sidebar-logo {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
  padding-top: 10px;
  gap: 10px;
}

.sidebar-logo-img {
  width: 90px; /* Adjust width to make the logo smaller */
  height: auto; /* Maintain aspect ratio */
  margin-right: 10px; /* Space between logo and text */
}

.sidebar-logo-text {
  font-family: "Roboto", sans-serif;
  font-size: 1.8rem;
  font-weight: bold;
  color: #c31c1c;
  text-align: left;
}

.sidebar {
  width: 400px;
  background-color: #ffffff;
  color: #1e1e1e;
  padding: 50px 30px;
  display: flex;
  flex-direction: column;
  border-radius: 0 50px 50px 0;
  text-align: left;
  /* height: 100vh;  Full height of viewport */
  position: fixed; /* <- MAKE IT STICKY */
  top: 0;
  left: 0;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
  overflow-y: auto; /* Allow scrolling inside sidebar if content overflows */
}


.sidebar ul {
  list-style: none;
  padding: 0 10px;
  font-weight: 500;
}

.sidebar li {
  margin: 15px 0;
  cursor: pointer;
  font-size: 1.8rem;
  padding: 10px;
}

.sidebar li:hover {
  background-color: #b4cafa;
  border-radius: 5px;
}

/* Sidebar divider line */
.sidebar-divider {
  margin: 2px;
  border-top: 1px solid #ccc;
}

/* Styles for the new Settings and Help & Support options */
.sidebar ul li {
  cursor: pointer;
  font-size: 1.7rem;
}

.sidebar ul li:hover {
  background-color: #b4cafa;
  border-radius: 5px;
}

.content {
  flex: 1;
  padding: 40px;
  overflow-y: auto;
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  min-height: 100vh;
}

.settings ul li {
  display: flex;
  align-items: center;
  gap: 20px;
  margin: 120px 0;
  cursor: pointer;
  font-size: 1.7rem;
}

/* Admin Dashboard */
.admin-dashboard {
  display: flex;
}

.main-content {
  margin-left: 400px; /* Same as sidebar width */
  padding: 60px 70px;
  width: calc(100% - 400px); /* Adjust width properly */
}

.content-area {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.sidebar1-item {
  display: flex;
  align-items: center;
  gap: 20px;
  margin: 15px 0;
  cursor: pointer;
  font-size: 18px;
  padding: 5px;
}

.sidebar1-item:hover {
  background-color: #b4cafa;
  border-radius: 5px;
}

.sidebar1-logo-img {
  width: 45px;
  height: auto;
  margin-right: 10px;
}

.header1 {
  display: flex;
  align-items: center;
  justify-content: flex-end; /* aligns content to the right */
  padding: 0 20px;
  margin-bottom: 10px;
}

.logout-link-admin {
  padding: 10px 20px;
  font-size: 1.2rem;
  background-color: white;
  color: #c31c1c;
  border: 2px solid #c31c1c;
  border-radius: 40px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s ease;
  margin-left: auto; /* forces it to the right */
  margin-bottom: 10px;
}

.logout-link-admin:hover {
  background-color: #c31c1c;
  color: white;
}
